version: "3.9"

services:
  postgres:
    image: postgis/postgis:16-3.4
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d

  api:
    build: .
    container_name: meuat_api
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - postgres

volumes:
  postgres_data: